* {
    box-sizing: border-box;
}

body {
    font-family: system-ui;
    text-align: center;
    background-color: #252525;
    color: #ffffff;
    align-items: center; /* vertical align */
    font-weight: bold;
}

.logo {
    align-content: center;
    width: 128px;
    height: 128px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center
}

a:link, a:visited, a:hover, a:active {
    color: #00ffff;
    font-size: 30px;
    font-variant:revert;
}

.row {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px;
}

.column {
    width: 30%;
    height: auto;
    padding: 20px;
}

.tcs {
    background-image: radial-gradient(#e4d6ad, #cbb26780);
}

.lsw2 {
    background-image: radial-gradient(#aed6e8, #237dae80);
}

.lsw1 {
    background-image: radial-gradient(#fbc301, #e4520080);
}

.lb1 {
    background-image: radial-gradient(#f6d80a, #ed1d2480);
}

.lij1 {
    background-image: radial-gradient(#ca4d20, #35220080);
}


@media screen and (max-width: 700px) {
    .row {
        flex-direction: column;
    }

    .column {
        width: auto;
    }
}

.box-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon img{
    width: 100%;
    height: 100%;
    max-width: 100px;
    max-height: 100px;
}

.icon.disabled {
    filter: grayscale(100%) brightness(50%);
    pointer-events: none;
}

.cover {
    max-width: 100%;
}

.cover-title {
    font-size: 20px;
}

